# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
override.tf
override.tf.json
.terraform.lock.hcl

# Node
node_modules/
npm-debug.log*
dist/

# Secrets
*.pem
*.key
.env
.env.*

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
